# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    steps:      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
           fetch-depth: 0
           
      - name: Setup Java 8
        uses: actions/setup-java@v1
        with:
         java-version: 8

      #- name: Cache Docker images
      #  uses: satackey/action-docker-layer-caching@v0.0.11
      #  # Ignore the failure of a step and avoid terminating the job.
      #  continue-on-error: true

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - run: mvn clean install -DskipTests=true
      
          
